header {
    background-color: #b31d17;
    color: white !important;
}

.navbar-brand {
    font-size: 2rem;
}

.facilities {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.facilities-head {
    text-align: center;
}


.edit-input {
    margin: 0 0.5rem;
}

footer {
    background-color: black;
    color: white;
}

.ui-dialog-titlebar {
    background-color: #B31D17FF;
    color: white;
}

.btn-danger {
    background-color: #B31D17FF;
}