header {
    background-color: #b31d17;
    color: white !important;
}

.navbar-brand {
    font-size: 2rem;
}

.facilities {
    display: flex;
    justify-content: center;
}

.facilities-head {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
}